<full-map>
    <table class="map m-2" if={strengths != undefined}>
        <tr each={row in map.rows} >
            <td class="{ownerClasses[owners[i]]} {terrainClass[terrain[i]]}" each={i in row}>{strengths[i] == 0 ? '' : strengths[i]}</td>
        </tr>
    </table>
    
    <style>
    table.map {
        border-collapse: collapse;
    }
    table.map td{
        border:solid 1px #000;
        width:40px;
        height:40px;
        text-align:center;
        overflow:hidden;
        text-shadow: 0 0 3px black;
        color: white;
        background: #dcdcdc;
/*        background: red;*/
    }
    
    
    
    </style>
    
    <script>
        var tag = this
        tag.gameUI = this.opts.gameUI
        tag.map = this.opts.gameUI.map
        
        
        tag.ownerClasses = {
            0: "red",
            1: "green",
            2: "blue",
            3: "teal",
            4: "purple",
        }
        tag.ownerClasses[-1] = "neutral"
        
        tag.terrainClass = {
            0: "",
            1: "city",
            2: "general"
        }
        tag.terrainClass[-1] = "mountain"
        
        tag.gameUI.on("update", function(){
            tag.map = tag.gameUI.map
            tag.strengths = tag.map.strengths
            tag.owners = tag.map.owners
            tag.terrain = tag.map.terrain
            tag.update()
            
        })
    </script>
</full-map>